    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        font-family: 'Poppins', sans-serif;
        ;
    }
    /* Desktop Header */
    
    .sticky {
        width: 100%;
        background-color: white;
        padding-top: 1rem;
    }
    
    .fixed {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: white;
        border-bottom: rgba(255, 255, 255, .7);
        z-index: 100;
        box-shadow: 0 8px 50px -5px rgba(0, 0, 0, .1);
        transition: 0.3s all ease;
        padding-top: 0;
    }
    
    .main-header {
        max-width: 100%;
        color: #23d295;
        padding-bottom: 1%;
    }
    
    .sticky:hover {
        background: white;
    }
    
    .main-header .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .main-header .navigation_desktop .logo-box {
        flex: 0 0 20%;
        margin-left: 3%;
        padding-top: 1%;
    }
    
    .main-header .navigation_desktop .logo-box img {
        max-width: 100%;
    }
    
    .main-header .navigation_desktop .header-item-container {
        flex: 0 0 65%;
        padding-top: 1%;
    }
    
    .header-items {
        display: flex;
        align-items: baseline;
        justify-content: space-evenly;
        position: relative;
    }
    
    .header-items>li {
        list-style: none;
        cursor: pointer;
        font-size: 17px;
    }
    
    .header-items li a {
        color: rgba(0, 0, 0, .7);
        text-decoration: none;
    }
    
    .navigation_mobile .mobile-header li a {
        font-size: 20px;
        margin: 11%;
        color: rgba(0, 0, 0, .7);
        text-decoration: none;
    }
    
    .navigation_mobile .mobile-header li a:hover {
        color: #ff5284;
    }
    
    .header-items li a:hover {
        color: #ff5284;
        border-bottom: 2px solid #25bed6;
    }
    
    .border-none:hover {
        border-bottom: none !important;
    }
    
    .global-btn {
        background: #ff5284;
        color: white;
        padding: 10px 30px;
        border-radius: 5px;
        -webkit-transition: .3s;
        transition: .3s;
    }
    
    .global-btn:hover {
        background: #23d295;
        cursor: pointer;
    }
    /* Mobile header */
    
    .navigation_mobile {
        display: none;
    }
    
    .navigation_mobile .mobile-header {
        color: black;
        list-style: none;
        margin-top: 50%;
        margin-left: 7%;
    }
    
    .navigation_mobile .mobile-header li {
        font-size: 20px;
        margin: 11%;
    }
    
    .modal {
        display: none;
        position: fixed;
        z-index: 2;
        right: 0;
        top: 0;
        width: 60%;
        height: 100%;
        overflow: auto;
        -webkit-animation-name: fadeIn;
        -webkit-animation-duration: 0.4s;
        animation-name: fadeIn;
        animation-duration: 0.4s
    }
    
    .modal-content {
        position: fixed;
        top: 0;
        right: 0;
        background-color: #fff;
        width: 75%;
        -webkit-animation-name: slideIn;
        -webkit-animation-duration: 0.4s;
        animation-name: slideIn;
        animation-duration: 0.4s;
        padding-bottom: 10%;
    }
    
    .close {
        position: absolute;
        top: 5%;
        right: 11%;
        color: #207561;
        font-size: 28px;
        font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
    
    .modal-body {
        padding: 2px 16px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .container {
        max-width: 1200px;
        margin: auto 60px;
    }
    /* HOME SECTION */
    
    .home-section {
        position: relative;
        /* background-color: #f8f9fa; */
    }
    
    .home-section.mt-100 {
        margin-top: 100px;
    }
    
    .home-section .container .row {
        display: flex;
    }
    
    .home-section .container .row .col-1 {
        flex: 0 0 35%;
        margin-left: auto;
    }
    
    .home-section .container .row .col-2 {
        flex: 0 0 50%;
        margin-left: auto;
    }
    
    .home-section .container .row .col-2 img {
        max-width: 100%;
    }
    
    .home-section .container .row .col-1 h1 {
        text-decoration: none;
        font-size: 42px;
        padding: 0;
        line-height: 46px;
        margin: 0 0 25px;
        color: #25bed6;
    }
    
    .home-section .container .row .col-1 h1 span {
        color: #23d295;
        font-size: 33px;
    }
    
    .home-section .container .row .col-1 p {
        font-size: 18px;
        line-height: 31px;
        color: #383838;
        padding-bottom: 40px;
    }
    
    .home-section .container .row .col-1 .start-btn {
        margin: 30px 0 0;
    }
    /* PAYMENT SECTION */
    
    .payment-section {
        margin: 80px 0 100px;
        background-image: url('images/buy-sell-bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        padding: 132px 15px;
        background-position: right top;
    }
    
    .payment-section .row {
        display: flex;
        margin: auto;
    }
    
    .payment-section .row .col-3 {
        flex: 0 0 50%;
    }
    
    .payment-section .row .col-4 {
        flex: 0 0 50%;
    }
    
    .payment-section .row .col-3 .image-container {
        margin: 55px 0 0 65px;
    }
    
    .payment-section .row .col-3 .image-container img {
        margin: 0 25px 0 0;
    }
    
    .payment-section .row .col-3 h2 {
        color: #fff;
        font-size: 46px;
        padding: 0;
        line-height: 55px;
        margin: 0 0 20px 65px;
    }
    
    .payment-section .row .col-3 .image-container span {
        color: #2b2b2b;
        font-size: 15px;
        background-color: #fff;
        padding: 10px 20px;
        letter-spacing: 1px;
        line-height: normal;
    }
    
    .payment-section .row .col-3 .image-container p {
        font-size: 18px;
        color: #fff;
        line-height: 31px;
        margin: 20px 0 0 0;
    }
    
    .trading-section .container .col-5 h2 {
        color: #23d295;
        font-size: 42px;
        line-height: 46px;
        margin: 10px 0 40px;
        padding: 0 15px;
        text-align: center;
    }
    
    .trading-section .container .col-5 p {
        font-size: 18px;
        color: #000;
        line-height: 31px;
        display: table;
        margin: 0 auto;
    }
    
    .trading-section .container .col-5 ul {
        padding: 0;
        margin: 80px 0 0;
        text-align: center;
    }
    
    .trading-section .container .col-5 ul li {
        padding: 0;
        margin: 0 20px;
        list-style: none;
        display: inline-block;
        position: relative;
    }
    
    .trading-section .container .col-5 ul li::before {
        content: "";
        width: 45px;
        height: 2px;
        background-color: #3ac2d6;
        display: block;
        position: absolute;
        bottom: auto;
        top: 85px;
        left: 168px;
    }
    
    .trading-section .container .col-5 ul li:nth-child(4)::before {
        width: 30px;
    }
    
    .trading-section .container .col-5 ul li:nth-child(5)::before {
        width: 0px;
    }
    
    .trading-section .container .col-5 ul li:nth-child(4)::after {
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid #3ac2d6;
        content: "";
        display: block;
        position: absolute;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        top: 82px;
        right: -41px;
    }
    
    .trading-section .container .col-5 .trading-icon {
        list-style: none;
        border: 4px solid #ededed;
        background-color: #fff;
        border-radius: 50%;
        width: 160px;
        height: 160px;
        text-align: center;
        -webkit-box-align: center;
        align-items: center;
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
    }
    
    .trading-section .container .col-5 .trading-icon img {
        height: 70px;
        max-width: 100%;
    }
    /* TECHNOLOGY SECTION */
    
    .technology-section {
        margin: 80px 0 0;
        background-image: url('images/market-place-bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        padding: 205px 15px 550px;
        background-position: bottom;
    }
    
    .technology-section .container .row {
        display: flex;
    }
    
    .technology-section .container .row .col-6 {
        flex: 0 0 40%;
        margin-left: auto;
    }
    
    .technology-section .container .row .col-7 {
        flex: 0 0 20%;
        margin-left: auto;
    }
    
    .technology-section .container .row .col-8 {
        flex: 0 0 25%;
        margin-right: auto;
    }
    
    .technology-section .container .row .col-8 h2 {
        color: #25bed6;
        font-size: 42px;
        padding: 0;
        line-height: 46px;
        margin: -50px 0 20px 70px;
    }
    
    .technology-section .container .row .col-8 p {
        font-size: 18px;
        color: #383838;
        line-height: 31px;
        margin: 20px 0 0 70px;
    }
    /* BANKING SECTION */
    
    .banking-section {
        margin: 0 0 100px;
        background-image: url('images/cash-bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        padding: 80px 15px 120px;
        background-position: center center;
    }
    
    .banking-section .container .row {
        display: flex;
    }
    
    .banking-section .container .row .col-9 {
        flex: 0 0 35%;
        margin: auto;
    }
    
    .banking-section .container .row .col-9 img {
        max-width: 100%;
    }
    
    .banking-section .container .row .col-10 {
        flex: 0 0 52%;
        margin: auto;
    }
    
    .banking-section .container .row .col-10 h2 {
        color: #fff;
        font-size: 42px;
        padding: 0;
        line-height: 46px;
        margin: 70px 0 20px 60px;
    }
    
    .banking-section .container .row .col-10 p {
        font-size: 18px;
        color: #fff;
        line-height: 31px;
        margin: 20px 0 0 60px;
    }
    
    .banking-section .container .create-btn {
        margin: 30px 0 0 60px;
        background: url('images/create-account.png') 9% 15px no-repeat #ec2458;
        padding: 18px 30px 20px 75px;
        border-radius: 5px;
        color: #fff;
        display: inline-block;
        font-size: 15px;
        line-height: normal;
        text-decoration: none;
    }
    
    .banking-section .container .create-btn:hover {
        background-color: #23d295;
        cursor: pointer;
    }
    /* CASH SECTION */
    
    .cash-section {
        margin: 0 0 50px;
    }
    
    .cash-section .container .row {
        display: flex;
    }
    
    .cash-section .container h2 {
        color: #23d295;
        font-size: 42px;
        padding: 0;
        line-height: 46px;
        margin: 0 0 70px;
        text-align: center;
    }
    
    .cash-section .container .row img {
        max-width: 100%;
    }
    
    .cash-section .container .row .col-11 {
        flex: 0 0 40%;
        margin: auto;
    }
    
    .cash-section .container .row .col-11 .text-icon {
        display: flex;
        align-items: center;
        margin-top: 30px;
    }
    
    .cash-section .container .row .col-11 .text-icon h4 {
        font-size: 18px;
        color: #222;
    }
    
    .cash-section .container .row .col-11 .image-icon {
        height: auto;
        width: 50px;
        margin: 0 15px 0 0
    }
    /* FOOTER SECTION */
    
    .footer-section {
        padding: 60px 0 50px;
        background: #222;
    }
    
    .footer-section .row {
        display: flex;
        justify-content: space-between;
    }
    
    .footer-section .row .col-12 .btn {
        color: #fff;
        font-size: 15px;
        padding: 10px 16px;
        border: 2px solid #fff;
        border-radius: 5px;
        text-decoration: none;
        margin: 10px 5px 0;
        font-weight: 400;
        display: inline-block;
    }
    
    .footer-section .row .col-12 .btn:hover {
        background-color: #23d295;
        color: #000;
        border: 2px solid #23d295;
        font-weight: 400;
    }
    
    .footer-section .container hr {
        border: 0;
        border-top: 1px solid #eee;
    }
    
    .footer-section .container .hr-line {
        border-color: #404040;
        margin-top: 35px;
        margin-bottom: 35px;
    }
    
    .footer-section .container h4 {
        color: #ec2458;
        margin: 0 0 10px;
        font-size: 27px;
        line-height: 46px;
    }
    
    .footer-section .container .col-13 {
        flex: 0 0 20%;
    }
    
    .footer-section .container .footer-nav-container ul li {
        margin: 0 0 8px;
        padding: 0;
        list-style: none;
    }
    
    .footer-section .container .footer-nav-container ul li a {
        color: #fff;
        text-decoration: none;
        font-size: 15px;
    }
    
    .footer-section .container .col-14 {
        flex: 0 0 60%;
    }
    
    .footer-section .container .col-14 .footer-nav-container {
        display: flex;
    }
    
    .footer-section .container .col-14 .footer-nav-container img {
        max-width: 100%;
        margin: 0 20px 0 0;
        height: 45px
    }
    
    .footer-section .container .col-14 .footer-nav-container .explore-box {
        margin: 0 15px 0 0;
        color: #fff;
        font-size: 15px;
        background-color: #313131;
        padding: 18px 30px 25px 25px;
        letter-spacing: 1px;
        line-height: normal;
        cursor: pointer;
        display: inline-block;
        border-radius: 5px;
        display: flex;
        align-items: center;
    }
    
    .footer-section .container .copy-right {
        margin: 35px 0 0;
    }
    
    .footer-section .container .copy-right p {
        font-size: 15px;
        color: #545454;
    }
    /* For responsive */
    
    @media (max-width: 480px) {
        .fixed {
            padding-top: 5%;
            padding-bottom: 3%;
        }
        .container {
            max-width: 1140px;
            margin: auto;
            padding-left: 20px;
            padding-right: 20px;
        }
        .navigation_desktop {
            display: none;
        }
        .navigation_mobile {
            padding-left: 20px;
            padding-right: 20px;
            display: block;
        }
        .navigation_mobile .mobiletop-nav {
            display: flex;
        }
        .navigation_mobile .mobiletop-nav img {
            max-width: 100%;
        }
        .navigation_mobile .mobiletop-nav .menu-icon {
            flex: 0 0 50%;
        }
        .navigation_mobile .fas {
            float: right;
            font-size: 25px;
        }
        /* HOME SECTION */
        .home-section .container .row {
            flex-flow: column;
        }
        .home-section .container .row .col-2 {
            padding-top: 25px;
        }
        .payment-section .row {
            flex-flow: column;
        }
        .payment-section .row .col-3 h2 {
            font-size: 29px;
            line-height: inherit;
            margin: 0
        }
        .payment-section .row .col-3 .image-container {
            margin: 25px 0px 0px 0;
            display: flex;
            flex-flow: column;
        }
        .payment-section .row .col-3 .image-container img {
            margin: 0px 10px 10px 0px;
            max-width: 50%;
            padding-left: 55px;
        }
        .payment-section .row .col-3 .image-container p {
            font-size: 18px;
            color: #fff;
            line-height: 31px;
            margin: 20px 0 0 0;
        }
        .payment-section .row .col-3 .image-container span {
            text-align: center;
        }
        .technology-section .container {
            background-color: rgba(255, 255, 255, .8);
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .technology-section .container .row {
            flex-flow: column;
            padding: 10px;
        }
        .technology-section .container .row .col-6 {
            margin: auto;
            text-align: center;
        }
        .technology-section .container .row .col-8 {
            margin: auto;
        }
        .technology-section .container .row .col-8 p,
        .technology-section .container .row .col-8 h2 {
            margin: auto;
            text-align: center;
        }
        .banking-section .container .row {
            flex-flow: column;
        }
        .banking-section .container .row .col-10 h2 {
            margin: 20px 0 auto;
            text-align: center
        }
        .banking-section .container .row .col-10 p {
            margin: 45px 0 0 auto;
        }
        .banking-section .container .create-btn {
            margin: 30px 0 0 30px;
        }
        .cash-section .container .row {
            flex-flow: column;
        }
        .footer-section .row {
            flex-flow: column;
            text-align: center;
        }
        .footer-section .row .col-12 img {
            padding-bottom: 20px;
        }
        .footer-section .container .col-14 .footer-nav-container {
            flex-flow: column;
            align-items: center;
        }
        .footer-section .container .col-14 .footer-nav-container .explore-box {
            margin: 15px 0 0 0;
        }
        .footer-section .container .col-14 .order-1 {
            order: 1;
        }
        .footer-section .container .col-14 .order-2 {
            order: 2;
        }
        .footer-section .container .col-14 .order-3 {
            order: 3;
        }
    }
    
    @media (min-width: 481px) and (max-width: 768px) {
        .container {
            max-width: 1140px;
            margin: auto;
            padding-left: 20px;
            padding-right: 20px;
        }
        .fixed {
            padding-top: 2%;
        }
        .navigation_desktop {
            display: none;
        }
        .navigation_mobile {
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 2%;
            display: block;
        }
        .navigation_mobile .mobiletop-nav {
            display: flex;
            justify-content: space-between;
            height: 50px;
        }
        .modal-content {
            width: 28%;
            padding-bottom: 10%;
            box-shadow: 0 8px 50px -5px rgba(0, 0, 0, .1);
        }
        .navigation_mobile .fas {
            float: right;
            font-size: 25px;
            padding-top: 15px;
        }
        .payment-section .row {
            flex-flow: column;
        }
        .payment-section .row .col-3 h2 {
            text-align: center;
            margin: auto;
        }
        .payment-section .row .col-3 .image-container {
            text-align: center;
            margin: auto;
        }
        .technology-section .container .row {
            flex-flow: column;
            background-color: rgba(255, 255, 255, .8);
            padding-top: 40px;
            padding-bottom: 40px;
        }
        .technology-section .container .row .col-6,
        .technology-section .container .row .col-7,
        .technology-section .container .row .col-8 {
            margin: auto;
            text-align: center;
        }
        .technology-section .container .row .col-8 h2 {
            margin: 20px 0 20px 0px
        }
        .footer-section .container .col-14 .footer-nav-container {
            flex-flow: wrap;
            justify-content: center;
        }
        .footer-section .container .col-14 .footer-nav-container .explore-box {
            margin: 10px 15px 0 0;
        }
        .footer-section .container .col-14 h4 {
            text-align: center;
        }
        .footer-section .container .copy-right {
            text-align: center;
        }
    }